{% include 'base/header.html'%} {%load static%}
<link
  rel="stylesheet"
  href="{% static 'adicionar/css/formulario_style.css'%}"
/>

<form class="formularios" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <h1>Adicione novos sabores!!!</h1>
  {% if messages %} {% for message in messages %}
  <div class="sucesso">{{message}}</div>
  {% endfor %} {% endif %} {%for i in forms%}
  <h3>{{i.label_tag}}</h3>
  {{i}}
  <div class="erro">{{i.errors}}</div>
  {%endfor%}
  <button class="botao" type="submit">Cadastrar Chocotchin</button>
</form>

{% include 'base/footer.html'%}
