{% include "base/header.html"%} {%load static%}
<head>
  <link rel="stylesheet" href="{% static 'index/css/index_style.css'%}" />
  <title>Home - Chocotchin</title>
</head>
<body>
  <main>
    <section class="hero-section">
      <div class="hero-content">
        <h1>The Flavor That Awakens Your Inner Glow</h1>
        <p>
          Discover our handcrafted chocolates, made with passion to brighten
          your day.
        </p>
        <a href="#featured-products" class="hero-btn">Explore our flavors</a>
      </div>
    </section>

    <section id="featured-products" class="featured-products-section">
      <h2 class="section-title">Favorites</h2>
      <div class="products-grid">
        {%for produto in produtos%}
        <div class="product-card">
          <img src="{{produto.embalagem_produto.url}}" alt="Embalagem" />
          <h3>{{produto.nome_produto}}</h3>
          <p>{{produto.descricao_produto_pequena}}</p>
          <a href="{% url 'sabores' produto.id %}" class="product-btn">More</a>
        </div>
        {% endfor %}
      </div>
    </section>

    <section class="chocotchin-humor-section">
      <h2 class="section-title">Don't Let Your Shine Fade!</h2>
      <div class="humor-content-wrapper">
        <img
          class="humor-image"
          src="{% static 'index/img/ealexandreprofessor.jpg' %}"
          alt="Pessoa cansada por não comer Chocotchin"
        />
        <p class="humor-text">"No Chocotchin? No glow!!"</p>
      </div>
      <div class="additional-text">
        <p>
          Don’t miss out! Boost your happiness and energy with our delicious
          products. Click on 'Products' and start exploring now!
        </p>
      </div>
    </section>

    <section class="ratings-section">
      <h2 class="ratings-title">What Our Customers Say</h2>
      <div class="ratings-grid">
        <div class="rating-card">
          <img
            src="{% static 'index/img/bolsomster.jpg' %}"
            alt="Foto do Cliente 1"
            class="customer-photo"
          />
          <div class="rating-info">
            <h3 class="customer-name">Jair Hamsternaro</h3>
            <div class="star-rating">★★★★★</div>
            <blockquote class="customer-comment">
              "Simply the best chocolate I’ve ever tasted! The texture is
              amazing and the flavor is unforgettable. Chocotchin has gained a
              customer for life! Way better than ice cream and popcorn"
            </blockquote>
          </div>
        </div>
        <div class="rating-card">
          <img
            src="{% static 'index/img/Edimster.jpg' %}"
            alt="Foto do Cliente 2"
            class="customer-photo"
          />
          <div class="rating-info">
            <h3 class="customer-name">Ed Squeeran</h3>
            <div class="star-rating">★★★★★</div>
            <blockquote class="customer-comment">
              "Perfect for any time of the day. It gives you that extra boost of
              energy with a flavor that warms the soul. I recommend it to all my
              friends."
            </blockquote>
          </div>
        </div>
        <div class="rating-card">
          <img
            src="{% static 'index/img/alexanmster.jpg' %}"
            alt="Foto do Cliente 3"
            class="customer-photo"
          />
          <div class="rating-info">
            <h3 class="customer-name">Xandhamster de Moraes</h3>
            <div class="star-rating">★★★★★</div>
            <blockquote class="customer-comment">
              "From the packaging to the very last bite, everything is
              impeccable. You can feel it’s made with care and quality
              ingredients. Fantastic!"
            </blockquote>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
{% include "base/footer.html"%}
