{%include 'base/header.html'%}
{%load static%}
<head><title>People We Love - Chocotchin</title>
<link rel="stylesheet" href="{%static 'people_we_love/css/people_we_love_style.css'%}">
</head>
<main class="content">
      <h2>Chocotchin would never exist without YOU!</h2>
      <p>Thank you so much, guys.</p>
    </main>

    <section id="people-we-love" class="friends-section">
      <div class="friends-grid">
        <div class="friend-card">
          <img src="{%static 'people_we_love/img/alexandre.png'%}" alt="Amigo 1" />
          <div class="friend-info">
            <h3>It's Alexandre, Professor</h3>
            <p>
              "When I ate a Chocotchin, I got so happy that I saw a fox, even
              though they don't exist."
            </p>
          </div>
        </div>

        <div class="friend-card">
          <img src="{%static 'people_we_love/img/luisa.png'%}" alt="Amiga 2" />
          <div class="friend-info">
            <h3>Luisa Chew-Chew</h3>
            <p>
              "I got my Chanel stolen once. Then I started eating Chocotchin, and now I have the strength to punch anyone in the face who tries to steal it."</p>
          </div>
        </div>

        <div class="friend-card">
          <img src="{%static 'people_we_love/img/Melvin.png'%}" alt="Amigo 3" />
          <div class="friend-info">
            <h3>Melvin</h3>
            <p>
"Chocotchin's factory is the best place to work in the world. I love my job and my coworkers."</p>
            </p>
          </div>
        </div>

        <div class="friend-card">
          <img src="{%static 'people_we_love/img/ana.png'%}" alt="Amiga 4" />
          <div class="friend-info">
            <h3>Hamsterana</h3>
            <p>
             "Since I've started eating Hazelnut Chocotchin, I've been so much better on Artistic Skating"
            </p>
          </div>
        </div>

        <div class="friend-card">
          <img src="{%static 'people_we_love/img/cisco.png'%}" alt="Amiga 5" />
          <div class="friend-info">
            <h3>Francisqueak</h3>
            <p>
"I was so unhopeful about life that I couldn't even play Rune Scape anymore, since i started eating Strawberry Chocotchin, I can play 24/7 again!"
            </p>
          </div>
        </div>

        <div class="friend-card">
          <img src="{%static 'people_we_love/img/daniel.png'%}" alt="Amiga 6" />
          <div class="friend-info">
            <h3>Daniester</h3>
            <p>
"I was losing every race I've been on, but after eating Hazelnut Chocotchin, I've been winning them all!"
            </p>
          </div>
        </div>

        <div class="friend-card">
          <img src="{%static 'people_we_love/img/rui.png'%}" alt="Amiga 7" />
          <div class="friend-info">
            <h3>Huister</h3>
            <p>
"I used to have a loud mind, but after eating Strawberry Chocotchin, my mind is silent."
            </p>
          </div>
        </div>

        <div class="friend-card">
          <img src="{%static 'people_we_love/img/raquel.png'%}" alt="Amiga 8" />
          <div class="friend-info">
            <h3>Hamsquele</h3>
            <p>
"Hazelnut Chocotchin reminds me of my time back when I was studying polymer engineering — I used to eat it every day."
            </p>
          </div>
        </div>

        <div class="friend-card">
          <img src="{%static 'people_we_love/img/fabio.png'%}" alt="Amiga 9" />
          <div class="friend-info">
            <h3>Hábio</h3>
            <p>
"Since I started eating Hazelnut Chocotchin, I’ve been so focused that I can finally understand how the Raptor engine works."
            </p>
          </div>
        </div>

        <div class="friend-card">
          <img src="{%static 'people_we_love/img/victor.png'%}" alt="Amiga 10" />
          <div class="friend-info">
            <h3>Victail</h3>
            <p>
"Strawberry Chocotchin is a must for me before a test — it helps me feel way more relaxed and focused!"
            </p>
          </div>
        </div>

        <div class="friend-card">
          <img src="{%static 'people_we_love/img/fernanda.png'%}" alt="Amiga 11" />
          <div class="friend-info">
            <h3>Lady Hamnanda</h3>
            <p>
"I remember the first time I tried Almond Chocotchin — my skin started glowing, and the taste was absolutely addictive!"
            </p>
          </div>
        </div>

        <div class="friend-card">
          <img src="{%static 'people_we_love/img/pietra.png'%}" alt="Amiga 12" />
          <div class="friend-info">
            <h3>Pietra Cheeks</h3>
            <p>
"I started taking Strawberry as a recomendation from a psychologist, and now I'm feeling so much calmer!!!"
            </p>
          </div>
        </div>
          </div>
        </div>
      </div>
    </section>

    {%include 'base/footer.html'%}